---
- name: Store CPU architecture in variable
  ansible.builtin.command: dpkg --print-architecture
  register: node_architecture
  changed_when: false

- name: Update apt cache and upgrade all packages
  become: true
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
    upgrade: safe

- name: Install dependencies
  become: true
  ansible.builtin.apt:
    name: "{{ docker_setup_ubuntu_dependencies }}"
    state: present
    update_cache: true

- name: Ensure /etc/apt/keyrings exists
  become: true
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0775'

- name: Download signing key for Docker
  become: true
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'

- name: Add apt repository for stable version
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch={{ node_architecture.stdout }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_facts['lsb']['codename'] }} stable"
    state: present
    filename: docker
  notify: Update apt cache

- name: Install Docker
  become: true
  ansible.builtin.apt:
    name: "{{ docker_setup_docker_packages }}"
    state: present
    update_cache: true

# REQUIRED PACKAGES FOR USING ANSIBLE DOCKER (for portainer installation below)
- name: Install related Ubuntu packages
  become: true
  ansible.builtin.apt:
    name: "{{ docker_setup_related_ubuntu_packages }}"
    state: latest

- name: Install python packages
  become: true
  ansible.builtin.pip:
    name: docker

- name: Add user to docker group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: 
      - docker
    append: true
  register: useradded

- name: Reset connection if user was added to group
  ansible.builtin.include_tasks: reset-connection.yml
  when: useradded.changed

- name: Start the Docker daemon
  become: true
  ansible.builtin.systemd_service:
    state: started
    name: docker

- name: Enable the Docker daemon to start on system boot
  become: true
  ansible.builtin.systemd_service:
    enabled: true
    name: docker

- name: Create mount path for NAS share
  ansible.builtin.file:
    path: "{{ docker_setup_mount_path }}"
    state: directory
    mode: '0755'

- name: Mount backup share from NAS
  become: true
  ansible.posix.mount:
    src: //{{ docker_setup_nas_ip_or_hostname }}/{{ docker_setup_share_name }}
    path: "{{ docker_setup_mount_path }}"
    opts: "rw,vers=3,username={{ docker_setup_share_username }},password={{ docker_setup_share_password }},uid=1000,gid=999"
    fstype: cifs
    state: mounted

- name: Install portainer
  ansible.builtin.include_role:
    name: joshrnoll.homelab.tailscale_container
  vars:
    tailscale_container_tailnet_name: "{{ docker_setup_tailnet_name }}"
    tailscale_container_oauth_client_secret: "{{ docker_setup_tailscale_oauth_client_secret }}"
    tailscale_container_service_name: portainer-{{ ansible_facts['nodename'] }}
    tailscale_container_image: portainer/portainer-ce
    tailscale_container_tag: latest
    tailscale_container_https_container: true
    tailscale_container_serve_port: 9443
    tailscale_container_userspace_networking: "false"
    tailscale_container_volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/{{ ansible_user }}/portainer-{{ ansible_facts['nodename'] }}/portainer_data:/data

- name: Install Nautical-Backup for container volume backups to TrueNAS
  community.general.docker_container:
    name: nautical-{{ ansible_facts['nodename'] }}
    image: minituff/nautical-backup
    state: started
    restart_policy: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/{{ ansible_user }}:/app/source
      - "{{ docker_setup_mount_path }}/{{ ansible_facts['nodename'] }}:/app/destination"
    published_ports:
      - 8096:8096/tcp
    env:
      REQUIRE_LABEL: "true"
      CRON_SCHEDULE: "0 1 * * *"
      TZ: America/New_York
...
